* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

@mixin titulo($font-size) {
	font-family: 'Droid Serif', serif;
	font-size: $font-size;
	font-weight: 300;
	color: white;
}

h1 {
	@include titulo(45px);
}

.top-navigation {
	display: flex;
	justify-content: space-between;
}

.cover {
	background: linear-gradient(rgba(12,180,206, 0.5), rgba(16,128,208, 0.8)), url("images/cover.jpg") no-repeat center;
 	background-size: cover;
	height: 600px;
	vertical-align: center;
}

.cover__title {
	text-align: center;
	margin: auto;
	width: 70%;
	padding-top: 200px;
	margin-bottom: 50px;
}

.cover__button {
	margin: auto;
	width: 250px;
	height: 40px;
	border: 1px solid white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		color: white;
		font-size: 12px;
		font-family: 'Proxima Nova';
	}
}
